<html>
<head>
<title></title>
<style type="text/css">
<!--
body { font-family: Arial; font-size: 26.5px; width: 100; }
.pos { position: absolute; z-index: 0; left: 10px; top: 0px }
-->
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<img name="_1100:850" src="page_001.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<img src="/images/logo.png" height="1100"></img>
<div class="pos" id="_252:99" style="top:99;left:252">
<span id="_24.2" style="font-weight:bold; font-family:Times New Roman; font-size:24.2px; color:#000000">
AJAYI CROWTHER UNIVERSITY</span>
</div>
<div class="pos" id="_313:132" style="top:132;left:313">
<span id="_24.2" style="font-weight:bold; font-family:Times New Roman; font-size:24.2px; color:#000000">
OYO, OYO STATE</span>
</div>
<div class="pos" id="_221:165" style="top:165;left:221">
<span id="_24.2" style=" font-family:Times New Roman; font-size:24.2px; color:#000000">
P.M.B 1066, Oke-Ebo, Oyo Town, Oyo State.</span>
</div>
<div class="pos" id="_342:198" style="top:198;left:342">
<span id="_24.2" style="font-style:italic; font-family:Times New Roman; font-size:24.2px; color:#000000">
Scentia Probitas</span>
</div>
<div class="pos" id="_109:264" style="top:264;left:109">
<span id="_18.9" style="font-weight:bold; font-family:Times New Roman; font-size:18.9px; color:#252525">
FIRST SEMESTER, xxxx/xxxx SESSION REGISTRATION CLEARANCE</span>
</div>
<div class="pos" id="_37:289" style="top:289;left:37">
<span id="_18.9" style="font-weight:bold; font-family:Times New Roman; font-size:18.9px; color:#252525">
Student Information</span>
</div>
<div class="pos" id="_37:315" style="top:315;left:37">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#252525">
Surname: xxxxxxxxxxxxxxx Firstname: xxxxxxxxxxxxxxx</span>
</div>
<div class="pos" id="_481:315" style="top:315;left:481">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#252525">
Middlename: xxxxxxxxxxxxxxx Gender: Female</span>
</div>
<div class="pos" id="_37:337" style="top:337;left:37">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#252525">
Faculty: xxxxxxxxxxxxxxx</span>
</div>
<div class="pos" id="_483:337" style="top:337;left:483">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#252525">
Department: xxxxxxxxxxxxxxx</span>
</div>
<div class="pos" id="_37:359" style="top:359;left:37">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#252525">
Matric Number: xxxxxxxxx</span>
</div>
<div class="pos" id="_266:359" style="top:359;left:266">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#252525">
Current Level: xxxx</span>
</div>
<div class="pos" id="_533:359" style="top:359;left:533">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#252525">
Admission Session: xxxx/xxxx</span>
</div>
<div class="pos" id="_37:484" style="top:484;left:37">
<span id="_22.0" style="font-weight:bold; font-family:Times New Roman; font-size:22.0px; color:#252525">
&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;.</span>
</div>
<div class="pos" id="_500:484" style="top:484;left:500">
<span id="_22.0" style="font-weight:bold; font-family:Times New Roman; font-size:22.0px; color:#252525">
&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;</span>
</div>
<div class="pos" id="_100:510" style="top:510;left:100">
<span id="_18.9" style="font-weight:bold; font-family:Times New Roman; font-size:18.9px; color:#252525">
Bursary Department</span>
</div>
<div class="pos" id="_573:510" style="top:510;left:573">
<span id="_18.9" style="font-weight:bold; font-family:Times New Roman; font-size:18.9px; color:#252525">
Admission Department</span>
</div>
<div class="pos" id="_37:613" style="top:613;left:37">
<span id="_22.0" style="font-weight:bold; font-family:Times New Roman; font-size:22.0px; color:#252525">
&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;.</span>
</div>
<div class="pos" id="_500:613" style="top:613;left:500">
<span id="_22.0" style="font-weight:bold; font-family:Times New Roman; font-size:22.0px; color:#252525">
&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;</span>
</div>
<div class="pos" id="_100:638" style="top:638;left:100">
<span id="_18.8" style="font-weight:bold; font-family:Times New Roman; font-size:18.8px; color:#252525">
Chaplaincy Unit</span>
</div>
<div class="pos" id="_582:638" style="top:638;left:582">
<span id="_18.8" style="font-weight:bold; font-family:Times New Roman; font-size:18.8px; color:#252525">
Hall of Residence</span>
</div>
<div class="pos" id="_37:741" style="top:741;left:37">
<span id="_22.0" style="font-weight:bold; font-family:Times New Roman; font-size:22.0px; color:#252525">
&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;.</span>
</div>
<div class="pos" id="_500:741" style="top:741;left:500">
<span id="_22.0" style="font-weight:bold; font-family:Times New Roman; font-size:22.0px; color:#252525">
&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;</span>
</div>
<div class="pos" id="_109:767" style="top:767;left:109">
<span id="_18.9" style="font-weight:bold; font-family:Times New Roman; font-size:18.9px; color:#252525">
Internal Audit</span>
</div>
<div class="pos" id="_574:767" style="top:767;left:574">
<span id="_18.9" style="font-weight:bold; font-family:Times New Roman; font-size:18.9px; color:#252525">
Faculty Officer</span>
</div>
</nowrap></nobr>
</body>
</html>
