<html>
<head>
    <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
            th, td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
            th {
                background-color: #f2f2f2;
            }
    </style>
</head>
<body>

    <p>Please use the information below:</p>

    <table>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>{contactInfo.firstname} {contactInfo.lastname}</td>
        </tr>
        <tr>
            <td>Reset Link</td>
            <td>{contactInfo.resetLink} </td>
        </tr>
       

    </table>

  

</body>
</html>
