@page "/ict/ApplicationFormManagement"
@using ACUnified.Data.DTOs
@layout ACUnifiedLayout

@inject ISnackbar snackBar
@inject IAcademicSessionRepository AcademicSessionService
@inject IDialogService DialogService
@attribute [Authorize(Roles = "ICT")]
<h3>ApplicationFormManagement</h3>

@code {
    
}