@page
@model RegisterModel
@{
    ViewData["Title"] = "New Applicant";
    Layout = "_ACUnifiedLoginLayout";
}
<style>

    .footer {
        text-align: center;
        margin: -35px;
        padding: 10px 0;
        background-color: #333;
        color: #fff;
    }

    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #1919ba;
        /* Chrome 10-25, Safari 5.1-6 */
        /*        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);*/
        background: -webkit-linear-gradient(to right, #735f3d, #7e6843, #8a7249, #957b4f);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /*        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);*/

        background: linear-gradient(to right, #735f3d, #7e6843, #8a7249, #957b4f);
    }

    /*    @@media (min-width: 768px) {
            .gradient-form {
                height: 100vh !important;
            }
        }

        @@media (min-width: 769px) {
            .gradient-custom-2 {
                border-top-right-radius: .3rem;
                border-bottom-right-radius: .3rem;
            }
        }*/
</style>
@*<h3 style="text-align:center">@ViewData["Title"]</h3>*@

@* <div class="row mb-5" >
    <div class="col-md-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="d-flex align-items-center mb-3 pb-1">
                                              <img src= "/images/logo.png" width="350"/>
                                                 <span class="h1 fw-bold mb-0"></span>
                                            </div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Surname" class="form-control" autocomplete="surname" aria-required="true" placeholder="surname" />
                <label asp-for="Input.Surname">Surname</label>
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Firstname" class="form-control" autocomplete="firstname" aria-required="true" placeholder="firstname" />
                <label asp-for="Input.Firstname">First Name</label>
                <span asp-validation-for="Input.Firstname" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Othername" class="form-control" autocomplete="othername" aria-required="true" placeholder="othername" />
                <label asp-for="Input.Othername">OtherName</label>
                <span asp-validation-for="Input.Othername" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary gradient-custom-2">Register</button>
        </form>
    </div>
    <div class="col-md-4 col-md-offset-2 align-items-center d-none d-lg-flex flex-lg-row-fluid w-50 bgi-size-cover bgi-position-y-center bgi-position-x-start bgi-no-repeat" style="background-image: url(/images/agency.png)">
    <div class="d-none d-lg-flex flex-lg-row-fluid w-50 bgi-size-cover bgi-position-y-center bgi-position-x-start bgi-no-repeat" style="background-image: url(/images/bg.jpg)"></div>

    </div>
</div>  *@

<!-- Section: Design Block -->
<section class="text-center">


    <div class="card mx-4 mx-md-5 shadow-5-strong bg-body-tertiary" style="
        margin-top: 50px;
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="d-flex align-items-center mb-1 pb-1">
                            <img src="/images/logo.png" width="350" />
                            <span class="h1 fw-bold mb-0"></span>
                        </div>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Surname" class="form-control" autocomplete="surname" aria-required="true" placeholder="surname" />
                            <label asp-for="Input.Surname">Surname</label>
                            <span asp-validation-for="Input.Surname" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Firstname" class="form-control" autocomplete="firstname" aria-required="true" placeholder="firstname" />
                            <label asp-for="Input.Firstname">First Name</label>
                            <span asp-validation-for="Input.Firstname" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Othername" class="form-control" autocomplete="othername" aria-required="true" placeholder="othername" />
                            <label asp-for="Input.Othername">OtherName</label>
                            <span asp-validation-for="Input.Othername" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phone" aria-required="true" placeholder="othername" />
                            <label asp-for="Input.PhoneNumber">Phone</label>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary gradient-custom-2">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->

<!DOCTYPE html>
<!--
Author: Keenthemes
Product Name: Metronic
Product Version: 8.1.8
Purchase: https://1.envato.market/EA4JP
Website: http://www.keenthemes.com
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
License: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
