
ACUnified.Portal/obj/Debug/net7.0/ACUnified.Portal.csproj.CoreCompileInputs.cache
ACUnified.Business/bin/Debug/net7.0/ACUnified.Business.dll
*.dll
ACUnified.Business/bin/Debug/net7.0/ACUnified.Business.dll
*.pdb
*.cache
*.dll
*.pdb
*.dll
*.pdb
ACUnified.Business/bin/Debug/net7.0/ACUnified.Business.dll
*.dll
ACUnified.Data/obj/Debug/net7.0/ACUnified.Data.csproj.CoreCompileInputs.cache
ACUnified.Portal/obj/Debug/net7.0/ACUnified.Portal.GeneratedMSBuildEditorConfig.editorconfig
ACUnified.Business/obj/Debug/net7.0/ACUnified.Business.csproj.CoreCompileInputs.cache
*.dll
ACUnified.Business/bin/Debug/net7.0/ACUnified.Business.dll
ACUnified.Business/bin/Debug/net7.0/ACUnified.Business.pdb
ACUnified.Business/bin/Debug/net7.0/ACUnified.Data.dll
ACUnified.Business/bin/Debug/net7.0/ACUnified.Data.pdb
ACUnified.Business/obj/Debug/net7.0/ACUnified.Business.csproj.AssemblyReference.cache
ACUnified.Business/obj/Debug/net7.0/ACUnified.Business.csproj.CoreCompileInputs.cache
ACUnified.Business/obj/Debug/net7.0/ACUnified.Business.dll
ACUnified.Business/obj/Debug/net7.0/ACUnified.Business.pdb
ACUnified.Business/obj/Debug/net7.0/ref/ACUnified.Business.dll
ACUnified.Business/obj/Debug/net7.0/refint/ACUnified.Business.dll
ACUnified.Business/obj/rider.project.model.nuget.info
ACUnified.Business/obj/rider.project.restore.info
ACUnified.Data/bin/Debug/net7.0/ACUnified.Data.dll
ACUnified.Data/bin/Debug/net7.0/ACUnified.Data.pdb
ACUnified.Data/obj/Debug/net7.0/ACUnified.Data.csproj.CoreCompileInputs.cache
ACUnified.Data/obj/Debug/net7.0/ACUnified.Data.dll
ACUnified.Data/obj/Debug/net7.0/ACUnified.Data.pdb
ACUnified.Data/obj/Debug/net7.0/ref/ACUnified.Data.dll
ACUnified.Data/obj/Debug/net7.0/refint/ACUnified.Data.dll
ACUnified.Data/obj/rider.project.model.nuget.info
ACUnified.Data/obj/rider.project.restore.info
ACUnified.Portal/bin/Debug/net7.0/ACUnified.Business.dll
ACUnified.Portal/bin/Debug/net7.0/ACUnified.Business.pdb
ACUnified.Portal/bin/Debug/net7.0/ACUnified.Data.dll
ACUnified.Portal/bin/Debug/net7.0/ACUnified.Data.pdb
ACUnified.Portal/bin/Debug/net7.0/ACUnified.Portal.dll
ACUnified.Portal/bin/Debug/net7.0/ACUnified.Portal.pdb
ACUnified.Portal/obj/Debug/net7.0/ACUnified.Portal.csproj.AssemblyReference.cache
ACUnified.Portal/obj/Debug/net7.0/ACUnified.Portal.csproj.CoreCompileInputs.cache
ACUnified.Portal/obj/Debug/net7.0/ACUnified.Portal.dll
ACUnified.Portal/obj/Debug/net7.0/ACUnified.Portal.GeneratedMSBuildEditorConfig.editorconfig
ACUnified.Portal/obj/Debug/net7.0/ACUnified.Portal.pdb
ACUnified.Portal/obj/Debug/net7.0/ref/ACUnified.Portal.dll
ACUnified.Portal/obj/Debug/net7.0/refint/ACUnified.Portal.dll
ACUnified.Portal/obj/rider.project.model.nuget.info
ACUnified.Portal/obj/rider.project.restore.info
ACUnified.Business/obj/Debug/net7.0/ACUnified.Business.csproj.CoreCompileInputs.cache
*.vsidx
*._
*.p7s
*.xml
*.png
*.bin
*.nupkg
*.TXT
*.targets
*.md
*.cache
*.pdb
*.dll
*.cache
*.dll
*.pdb
.vs/ACUnified/v17/DocumentLayout.json
ACUnified.BackgroundServices/obj/Debug/net7.0/ACUnifie.7C3EF2A0.Up2Date
ACUnified.BackgroundServices/bin/Debug/net7.0/ACUnified.BackgroundServices.deps.json
ACUnified.BackgroundServices/bin/Debug/net7.0/ACUnified.BackgroundServices.exe
/.vs
.vs/ACUnified/DesignTimeBuild/.dtbcache.v2
.vs/ACUnified/DesignTimeBuild/.dtbcache.v2
/ACUnified.Business/bin
/ACUnified.Business/bin
/ACUnified.Business/obj
/ACUnified.Data/bin
/ACUnified.Data/bin
/ACUnified.Portal/bin
/ACUnified.Portal/bin
/ACUnified.Portal/obj
.vs/ACUnified/DesignTimeBuild/.dtbcache.v2
/.vs
.vs/ACUnified/DesignTimeBuild/.dtbcache.v2
.vs/ACUnified/v17/.futdcache.v2
.vs/ACUnified/v17/.suo
ACUnified.Business/obj/Debug/net7.0/ACUnified.Business.AssemblyInfo.cs
ACUnified.Business/obj/Debug/net7.0/ACUnified.Business.assets.cache
ACUnified.Business/obj/Debug/net7.0/ACUnified.Business.GeneratedMSBuildEditorConfig.editorconfig
ACUnified.Data/obj/Debug/net7.0/ACUnified.Data.assets.cache
ACUnified.Data/obj/Debug/net7.0/ACUnified.Data.GeneratedMSBuildEditorConfig.editorconfig
ACUnified.DataMigration/bin/Debug/net7.0/ACUnified.DataMigration.exe
ACUnified.DataMigration/bin/Debug/net7.0/appsettings.json
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/ApplicantPayCategory.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/ApplicantPayDetails.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/CountryList.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/Course.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/CourseRegistration.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/DegreeList.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/DepartmentList.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/FacultyList.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/FinalEnrolment.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/LGAList.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/PaymentHistory.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/ProgramSetup.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/Semester.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/Session.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/StateList.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/Student.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/StudentEnrolment.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/StudentLevelList.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/StudentResult.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/SubjectSetupList.csv
ACUnified.DataMigration/bin/Debug/net7.0/SeedData/UTMESubjectList.csv
ACUnified.DataMigration/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
ACUnified.DataMigration/obj/Debug/net7.0/apphost.exe
ACUnified.Portal/obj/Debug/net7.0/ACUnified.Portal.assets.cache
obj/Debug/docker-c.35A3FFBA.Up2Date
obj/Docker/docker-compose.vs.debug.partial.g.yml
obj/Docker/docker-compose.vs.release.partial.g.yml
.vs/ACUnified/DesignTimeBuild/.dtbcache.v2
.vs/ACUnified/v17/.futdcache.v2
.vs/ACUnified/v17/.suo
ACUnified.Business/obj/Debug/net7.0/ACUnified.Business.AssemblyInfo.cs
ACUnified.Business/obj/Debug/net7.0/ACUnified.Business.assets.cache
ACUnified.Business/obj/Debug/net7.0/ACUnified.Business.GeneratedMSBuildEditorConfig.editorconfig
ACUnified.Data/obj/Debug/net7.0/ACUnified.Data.assets.cache
ACUnified.Data/obj/Debug/net7.0/ACUnified.Data.GeneratedMSBuildEditorConfig.editorconfig
ACUnified.Portal/obj/Debug/net7.0/ACUnified.Portal.assets.cache
.vs/ACUnified/DesignTimeBuild/.dtbcache.v2
.vs/ACUnified/v17/.futdcache.v2
.vs/ACUnified/v17/.suo
ACUnified.Business/obj/Debug/net7.0/ACUnified.Business.AssemblyInfo.cs
ACUnified.Business/obj/Debug/net7.0/ACUnified.Business.assets.cache
ACUnified.Business/obj/Debug/net7.0/ACUnified.Business.GeneratedMSBuildEditorConfig.editorconfig
ACUnified.Data/obj/Debug/net7.0/ACUnified.Data.assets.cache
ACUnified.Data/obj/Debug/net7.0/ACUnified.Data.GeneratedMSBuildEditorConfig.editorconfig
ACUnified.Portal/obj/Debug/net7.0/ACUnified.Portal.assets.cache
